<div class="col-lg-10 offset-lg-1 col-sm-8 offset-sm-2 col-md-8 offset-md-2 card form">

<%= simple_form_for @gram do |f| %>
  <%= f.input :image %>
  <%= f.input :message %>
  <%= f.submit "Post!", class: 'my-btn' %>
<% end %>

</div>